*{
	font-family: "Arial", "Helvetic Neue", Helvetica, sans-serif;
}

/*HEADER*/
header{
/*Name Tab with white background*/
	margin: auto;
	
	margin-top: 20px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: lightgrey;
}

/*My Name Header with Teal Background with White font*/
#pagelink{
   margin-right: 200px;
}

.chanita{
	background-color: #4aaaa5;
	width: 300px;
	height: 50px;
	margin-left: 150px;
	padding: 20px;
	text-align: center;
	color: white;
	font-size: 35px;
}

/*Pagelinks About...Contact...Portfolio*/
#aboutpagelink{
	border-right: thin solid ;
	padding-right: 10px;
	float: right;
	color: lightgrey;	
}

#contactpagelink{
	float: right;
	padding-left: 10px;
	padding-right: 10px;	
}

#portfoliopagelink{
	
	border-right: thin solid;
	padding-right: 10px;
	float: right;
	padding-left: 10px;	
	color: lightgrey;
}

/*CONTENT*/

.allcontent{
	
    background-image: url("~/../../../assets/images/maincontent.png");
   margin:auto;
}



.sidecontent{
    position:relative;
	top:-550px;
	
    right:-70%;
	width: 270px;
	box-sizing: border-box;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	background-color: #ffffff;
	padding: 10px;
	
}

.maincontent{
	position:relative;
	left: 150px;
	width: 650px;

	box-sizing: border-box;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	background-color: #ffffff;
	padding: 5%;
	
}


/*FOOTER*/
footer{
	clear: both;
	margin: auto;
	
	box-sizing: border-box;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	background-color: #666666;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
